@use '../utils/mixins' as *;

.footer {
  margin-top: -102px;
  background-color: #2c2c2c;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #fff;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 226px;

    @include on-desktop {
      column-gap: 98px;
    }
  }

  &__form {
    padding-top: 180px;
    width: 460px;

    @include on-desktop {
      width: 370px;
    }
  }

  &__form h2 {
    font-size: 32px;
    margin-bottom: 56px;
    margin-top: 0;
  }

  &__form form {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 17px 0;
    color: #fff;
    font-size: 15px;
    outline: none;

    &::placeholder {
      color: #c0cdd7;
    }

    &:focus {
      border-bottom: 2px solid #2060f6;
    }
  }

  & .button {
    margin-top: 80px;
  }

  &__contacts {
    & h2 {
      margin-top: 50px;
      font-size: 32px;
      margin-bottom: 56px;
    }

    & h3 {
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
      margin-bottom: 8px;
    }

    & p {
      font-size: 24px;
      margin-bottom: 48px;
    }
  }

  &__bottom {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 104px;
    margin-bottom: 80px;

    & .nav__list {
      display: flex;
      gap: 64px;
      align-items: center;
    }

    & a {
      color: #fff;
      text-decoration: none;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }
}

.socials__media {
  display: flex;
  gap: 32px;
  margin-top: 16px;

  & img {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}

@media (max-width: 640px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__form {
    width: 362px;
    padding-right: 196px;
  }

  .footer__contacts {
    width: 100%;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__bottom .nav__list {
    column-gap: 40px;
    padding-top: 24px;
  }
}

@media (max-width: 320px) {
  .footer {
    margin-top: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .footer__container {
    flex-direction: column;
    padding: 0 20px;
  }

  .footer__form {
    width: 100%;
    padding: 60px 0 0 0;
  }

  .footer__form h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .footer__form form {
    gap: 32px;
  }

  .footer .button {
    margin-top: 40px;
    width: 100%;
  }

  .footer__contacts {
    margin-top: 72px;

    & p {
      width: 200px;
    }
  }

  .footer__contacts h2 {
    font-size: 24px;
    margin: 0 0 32px 0;
  }

  .footer__bottom {
    margin-top: 72px;
    margin-bottom: 40px;
    width: 100%;
  }

  .nav__bottom .nav__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-top: 67px;
  }

  .contacts__links__adresse {
    word-break: break-word;
  }
}
