
.intro {
  position: absolute;
  width: 368px;
  left: 40px;
  bottom: 40px;


  display: flex;
  align-items: center;
  gap: 24px;

  &__arrow {
    display: flex;
    gap: 16px;
  }

  &__image {
    width: 32px;
    height: 32px;
    margin-left: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 8px;
  }

  &__text {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
  }
}
