@use '../utils/mixins' as *;

.nav {
  margin-top: 52px;

  @media (max-width: 640px) {
    display: none;
  }

  &__bottom {
    margin-top: 0;
  }

  &__list {
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
  }

  /*&__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -8px;
    background-color: #2060f6;
  }*/

  &__link {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    white-space: nowrap;
  }
}
