@use '../utils/mixins' as *;

.container {
  max-width: 1148px;
  margin: 0 auto;
  padding-left: 54px;
  padding-right: 54px;
  align-items: center;

  @media (max-width: 640px) {
    padding-left: 41px;
    padding-right: 41px;
  }

  @media (max-width: 320px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo {
  display: block;
  width: 46px;
}

.little_name {
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c0cdd7;
}

.title_section {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  vertical-align: middle;
  color: #253757;
}

.flash_card {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #334563;

  & img {
    width: 40px;
    height: 40px;
  }
}

.burger-menu {
  display: none;

  @media (max-width: 640px) {
    display: flex;
    margin: 0;
    padding-top: 24px;
  }
}

.burger-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.button-prev, .button-next {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  padding: 0;
  border: none;

  background: none;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
