@use '../utils/mixins' as *;

.container {
  max-width: 1148px;
  margin: 0 auto;
  align-items: center;


  @media (max-width: 1600px) {
    padding-left: 54px;
    padding-right: 54px;
  }

  @media (max-width: 640px) {
    padding-left: 41px;
    padding-right: 41px;
  }

  @media (max-width: 320px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo {
  display: block;
  width: 46px;
}

.little_name {
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c0cdd7;
}

.title_section {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  vertical-align: middle;
  color: #253757;
}

.flash_card {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #334563;

  & img {
    width: 40px;
    height: 40px;
  }
}

.contacts__links {
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

.contacts__links__adresse {
  text-decoration: none;
  color: #fff;
  word-break: break-word;
}

.burger-menu {
  display: none;

  @media (max-width: 640px) {
    display: flex;
    margin: 0;
    padding-top: 24px;
  }
}

.burger-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.slider {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease;
  width: 100%;
}

.slide {
  min-width: 100%;
  flex-shrink: 0;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#s1:checked ~ .slider .slides {
  transform: translateX(0%);
}

#s2:checked ~ .slider .slides {
  transform: translateX(-100%);
}

#s3:checked ~ .slider .slides {
  transform: translateX(-200%);
}

#s4:checked ~ .slider .slides {
  transform: translateX(-300%);
}

input[type="radio"] {
  display: none;
}
