@use '../utils/mixins' as *;

.services {
  padding: 100px 0;

  &__title__section {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    vertical-align: middle;
    color: #253757;
    width: 264px;
    height: 126px;
  }

  &__info {
    width: 40%;
    padding-top: 103px;
    padding-left: 0;

    @include on-desktop {
      padding-left: 54px;
    }

    & p {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #6c788b;
      width: 364px;
      height: 249px;

      @include on-tablet {
        width: 264px;
        height: 312px;
      }

      @include on-desktop {
        width: 294px;
        height: 249px;
      }

      @include on-design {
        width: 364px;
        height: 249px;
      }
    }
  }

  &__cards {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media(min-width: 1024px) {
      gap: 20px;
    }

    @media(max-width: 640px) {
      padding-left: 41px;
      gap: 30px;
    }
  }
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 148px;
  padding: 0;
  gap: 80px;
}

.service-card {
  box-sizing: border-box;
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 #25293108;
  height: 264px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  @include on-tablet {
    width: 264px;
  }

  @include on-desktop {
    width: 214px;
  }

  @include on-design {
    width: 264px;
  }

  @include on-large {
    width: 264px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  & p {
    color: #6c788b;
    line-height: 150%;
    letter-spacing: 0;
    margin-bottom: 32px;
    margin-top: 24px;
    font-size: 13px;
  }

  &__number {
    display: flex;
    color: #2060f6;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 46px;
    background-color: #f4f6f9;
    border-radius: 23px;
    margin: 0;
  }

  &:nth-child(1) {
    transform: translateY(132px);
  }

  &:nth-child(2) {
    transform: translateY(0);
  }

  &:nth-child(3) {
    transform: translateY(162px);
  }

  &:nth-child(4) {
    transform: translateY(30px);
  }
}

@media (max-width: 640px) {
  .services {
    padding-top: 0;
  }

  .services__cards {
    margin-top: -150px;
  }

  .services__info {
    padding-top: 0;
    padding-left: 39px;
    height: auto;
  }

  .services__info p {
    width: 100%;
    height: auto;
  }

  .services-wrapper {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 320px) {
  .services {
    padding-left: 18px;
    padding-bottom: 0;

    & p {
      width: 282px;
    }
  }

  .services__info {
    padding: 0;
  }

  .services__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin-top: 0;
  }

  .service-card {
    width: 280px;
    height: 264px;
    padding-bottom: 24px;
    transform: none;
  }

  .service-card:nth-child(1),
  .service-card:nth-child(2),
  .service-card:nth-child(3),
  .service-card:nth-child(4) {
    transform: none;
  }
}
