@use '../variables' as *;
@use '../utils/mixins' as *;

.strategic {
  position: relative;
  min-height: calc(100% - 76px);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 48px;

    padding-left: 0;
    padding-right: 0;
    position: relative;
    max-width: 1200px;


    @include on-desktop {
      margin-left: 54px;
    }

    @include on-design {
      margin-left: 224px;
    }

    @include on-large {
      margin-left: 707px;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      position: absolute;
      z-index: 10;
    }

  }

  &__content {
    width: 100%;
    max-width: 490px;

    margin-left: 0;
    padding-bottom: 205px;

    @media (max-width: 640px) {
      max-width: 558px;
      padding-bottom: 147px;
    }

    @media (max-width: 320px) {
      max-width: 280px;
      padding-bottom: 48px;
    }
  }

  &__title {
    margin-top: 168px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 32px;

    @media (max-width: 640px) {
      margin-top: 56px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 83px;
    max-width: 362px;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    bottom: 0;

    &__scroll {
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 30px;
      }
    }
  }
}

@media (max-width: 640px) {
  .strategic {
    height: auto;
  }

  .strategic__container {
    position: static;
    margin-left: 21px;
  }

  .strategic__image {
    position: static;
    transform: none;
    width: 100%;
    height: 310px;
  }

  .strategic__image__scroll {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;

    & img {
      height: auto;
      border-radius: 30px;
    }
  }

  .header {
    height: auto;
  }
}

.container .strategic__container {
  align-items: flex-start;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  max-width: 100%;
}
