@use '../variables' as *;
@use '../utils/mixins' as *;

.strategic {
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 0;
    gap: 196px;

    padding: 0;

    @include on-desktop {
      margin-left: 54px;
    }

    @include on-design {
      margin-left: 224px;
    }

    @include on-large {
      margin-left: 707px;
    }

    position: relative;
  }

  &__content {
    width: 490px;
    margin-left: 0;
  }

  &__title {
    margin-top: 120px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #ffffff;
    margin-bottom: 32px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 83px;
    max-width: 362px;
  }

  &__image {
    position: relative;
    top: 0;
    right: 0;

    &__scroll {
      height: 680px;
      width: 100%;

      @include on-desktop {
        width: 502px;
      }

      @include on-design {
        width: 687px;
      }

      @include on-large {
        width: 1167px;
      }
    }
  }
}
