@import '../variables';

.strategic {
  margin-top: 120px;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 54px;
  }

  &__content {
    max-width: 490px;
  }

  &__title {
    margin-top: 120px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #ffffff;
    margin-bottom: 32px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 83px;
    max-width: 362px;
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (min-width: $desktop-min-width) {
    &__container {
      padding-left: 196px;
    }

    &__image img{
      width: 502px;
    }
  }

  @media (min-width: 2560px) {
    &__container {
      padding-left: 707px;
    }

    &__image img{
      width: 1160px;
    }
  }
}

