.testimonials {
  &__info {
    padding-top: 148px;
  }

  &__cards {
    padding-top: 85px;
    padding-bottom: 148px;
    display: flex;
    gap: 30px;
  }

  &__card {
    width: 362px;
    height: 494px;
    border-radius: 16px;
    background-color: #ffffff;
  }

  &__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px auto 24px;
  }

  &__describe {
    font-size: 13px;
    font-weight: 600;
    color: #6C788B;
    justify-content: center;
    text-align: center;
  }

  &__name {
    display: flex;
    font-size: 13px;
    line-height: 150%;
    justify-content: center;
    font-weight: 600;
    color: #253757;
  }

  &__role {
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 3px;
    color: #C0CDD7;
  }

  &__lapki {
    display: block;
    margin: 0 auto;
  }
}
