:root {
  --bg-color: #2c2c2c;
  --bg-button: #008aff;
  --button-color: #2060f6;
}

.dark-theme {
  --bg-color: #008aff;
  --bg-button: #2c2c2c;
  --button-color: #ff9c8e;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.about {
  margin-top: 148px;
  margin-bottom: 148px;
}
.about__title {
  color: #253757;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.about__text {
  color: #6c788b;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 150%;
  height: 144px;
  width: 754px;
  margin: auto;
  margin-top: 16px;
}
@media (min-width: 1024px) {
  .about__text {
    width: 716px;
  }
}

@media (max-width: 640px) {
  .about {
    padding: 0;
  }
  .about__container {
    padding-left: 0;
    padding-right: 0;
    width: 558px;
    height: 224px;
  }
  .about__text {
    width: 558px;
    height: 224px;
  }
}
@media (max-width: 320px) {
  .about {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .about__container {
    width: 280px;
    height: 402px;
  }
  .about__text {
    width: 280px;
    height: 330px;
    font-size: 22px;
  }
}
.button {
  display: flex;
  height: 50px;
  width: 264px;
  border-radius: 8px;
  background-color: #2060f6;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.button:hover {
  opacity: 0.85;
}

.expertise {
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 128px 0;
}
.expertise__title {
  color: #253757;
  font-size: 52px;
  text-align: center;
  margin-bottom: 64px;
}
.expertise__card {
  display: flex;
  justify-content: center;
  gap: 177px;
}
@media (min-width: 1024px) {
  .expertise__card {
    gap: 137px;
  }
}
.expertise__card-title {
  color: #253757;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 16px;
}
.expertise__text {
  color: #6c788b;
  font-weight: 400;
  font-size: 14px;
}

.expertise-card {
  width: 264px;
  text-align: center;
}
.expertise-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .expertise-card {
    width: 214px;
  }
}
@media (min-width: 640px) {
  .expertise-card {
    width: 362px;
  }
}
.expertise-card img {
  margin: 0 auto;
}

@media (max-width: 640px) {
  .expertise__card {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
}
@media (max-width: 320px) {
  .expertise-card {
    width: 280px;
    height: 305px;
  }
}
.footer {
  margin-top: -102px;
  background-color: #2c2c2c;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #fff;
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 226px;
       column-gap: 226px;
}
@media (min-width: 1024px) {
  .footer__container {
    -moz-column-gap: 98px;
         column-gap: 98px;
  }
}
.footer__form {
  padding-top: 180px;
  width: 460px;
}
@media (min-width: 1024px) {
  .footer__form {
    width: 370px;
  }
}
.footer__form h2 {
  font-size: 32px;
  margin-bottom: 56px;
  margin-top: 0;
}
.footer__form form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footer__form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 17px 0;
  color: #fff;
  font-size: 15px;
  outline: none;
}
.footer__form input::-moz-placeholder {
  color: #c0cdd7;
}
.footer__form input::placeholder {
  color: #c0cdd7;
}
.footer__form input:focus {
  border-bottom: 2px solid #2060f6;
}
.footer .button {
  margin-top: 80px;
}
.footer__contacts h2 {
  margin-top: 50px;
  font-size: 32px;
  margin-bottom: 56px;
}
.footer__contacts h3 {
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
  margin-bottom: 8px;
}
.footer__contacts p {
  font-size: 24px;
  margin-bottom: 48px;
}
.footer__bottom {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 104px;
  margin-bottom: 80px;
}
.footer__bottom .nav__list {
  display: flex;
  gap: 64px;
  align-items: center;
}
.footer__bottom a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.socials__media {
  display: flex;
  gap: 32px;
  margin-top: 16px;
}
.socials__media img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

@media (max-width: 640px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__form {
    width: 362px;
    padding-right: 196px;
  }
  .footer__contacts {
    width: 100%;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__bottom .nav__list {
    -moz-column-gap: 40px;
         column-gap: 40px;
    padding-top: 24px;
  }
}
@media (max-width: 320px) {
  .footer {
    margin-top: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .footer__container {
    flex-direction: column;
    padding: 0 20px;
  }
  .footer__form {
    width: 100%;
    padding: 60px 0 0 0;
  }
  .footer__form h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .footer__form form {
    gap: 32px;
  }
  .footer .button {
    margin-top: 40px;
    width: 100%;
  }
  .footer__contacts {
    margin-top: 72px;
  }
  .footer__contacts h2 {
    font-size: 24px;
    margin: 0 0 32px 0;
  }
  .footer__bottom {
    margin-top: 72px;
    margin-bottom: 40px;
    width: 100%;
  }
  .nav__bottom .nav__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-top: 67px;
  }
}
.header {
  background-color: #2c2c2c;
  background-size: cover;
  background-position: center;
  height: 800px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 320px) {
  .header__left {
    gap: 16px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .header__container {
    align-items: center;
  }
}
.header__logo {
  width: 46px;
  height: 28px;
  margin-top: 48px;
}
@media (max-width: 640px) {
  .header__logo {
    margin-top: 20px;
  }
}

.header__hire {
  margin-top: 52px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}
.header__hire::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #2060f6;
}
@media (max-width: 640px) {
  .header__hire {
    margin-top: 20px;
  }
}

.intro {
  position: absolute;
  width: 368px;
  left: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 2;
}
.intro__arrow {
  display: flex;
  gap: 16px;
}
.intro__image {
  width: 32px;
  height: 32px;
  margin-left: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro__content {
  display: flex;
  flex-direction: column;
}
.intro__title {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
}
.intro__text {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

@media (max-width: 640px) {
  .intro {
    flex-direction: column;
    align-items: flex-start;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .intro__arrow {
    order: -1;
  }
  .intro__image {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .intro {
    left: 20px;
    bottom: 24px;
  }
}
.nav {
  margin-top: 52px;
}
@media (max-width: 640px) {
  .nav {
    display: none;
  }
}
.nav__bottom {
  margin-top: 0;
}
.nav__list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  position: relative;
}
.nav {
  /*&__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -8px;
    background-color: #2060f6;
  }*/
}
.nav__link {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  white-space: nowrap;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
  padding-left: 54px;
  padding-right: 54px;
  align-items: center;
}
@media (max-width: 640px) {
  .container {
    padding-left: 41px;
    padding-right: 41px;
  }
}
@media (max-width: 320px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo {
  display: block;
  width: 46px;
}

.little_name {
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c0cdd7;
}

.title_section {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  vertical-align: middle;
  color: #253757;
}

.flash_card {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #334563;
}
.flash_card img {
  width: 40px;
  height: 40px;
}

.burger-menu {
  display: none;
}
@media (max-width: 640px) {
  .burger-menu {
    display: flex;
    margin: 0;
    padding-top: 24px;
  }
}

.burger-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.button-prev, .button-next {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: none;
  transition: transform 0.3s ease;
}
.button-prev:hover, .button-next:hover {
  transform: scale(1.1);
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
  transition: transform 0.3s ease;
}
@media (min-width: 1024px) {
  .slides {
    width: 502px;
  }
}
@media (min-width: 1600px) {
  .slides {
    width: 687px;
  }
}
@media (min-width: 2560px) {
  .slides {
    width: 1167px;
  }
}

.slide {
  min-width: 100%;
  flex-shrink: 0;
}

#s1:checked ~ .slides {
  transform: translateX(0%);
}

#s2:checked ~ .slides {
  transform: translateX(-100%);
}

#s3:checked ~ .slides {
  transform: translateX(-200%);
}

#s4:checked ~ .slides {
  transform: translateX(-300%);
}

input[type=radio] {
  display: none;
}

.services {
  padding: 100px 0;
}
.services__title__section {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  vertical-align: middle;
  color: #253757;
  width: 264px;
  height: 126px;
}
.services__info {
  width: 40%;
  padding-top: 103px;
  padding-left: 0;
}
@media (min-width: 1024px) {
  .services__info {
    padding-left: 54px;
  }
}
.services__info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6c788b;
  width: 364px;
  height: 249px;
}
@media (min-width: 640px) {
  .services__info p {
    width: 264px;
    height: 312px;
  }
}
@media (min-width: 1024px) {
  .services__info p {
    width: 294px;
    height: 249px;
  }
}
@media (min-width: 1600px) {
  .services__info p {
    width: 364px;
    height: 249px;
  }
}
.services__cards {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (min-width: 1024px) {
  .services__cards {
    gap: 20px;
  }
}
@media (max-width: 640px) {
  .services__cards {
    padding-left: 41px;
    gap: 30px;
  }
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 148px;
  padding: 0;
  gap: 80px;
}

.service-card {
  box-sizing: border-box;
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.031372549);
  height: 264px;
}
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (min-width: 640px) {
  .service-card {
    width: 264px;
  }
}
@media (min-width: 1024px) {
  .service-card {
    width: 214px;
  }
}
@media (min-width: 1600px) {
  .service-card {
    width: 264px;
  }
}
@media (min-width: 2560px) {
  .service-card {
    width: 264px;
  }
}
.service-card__info {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.service-card p {
  color: #6c788b;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: 32px;
  margin-top: 24px;
  font-size: 13px;
}
.service-card__number {
  display: flex;
  color: #2060f6;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 46px;
  background-color: #f4f6f9;
  border-radius: 23px;
  margin: 0;
}
.service-card:nth-child(1) {
  transform: translateY(132px);
}
.service-card:nth-child(2) {
  transform: translateY(0);
}
.service-card:nth-child(3) {
  transform: translateY(162px);
}
.service-card:nth-child(4) {
  transform: translateY(30px);
}

@media (max-width: 640px) {
  .services {
    padding-top: 0;
  }
  .services__cards {
    margin-top: -150px;
  }
  .services__info {
    padding-top: 0;
    padding-left: 39px;
    height: auto;
  }
  .services__info p {
    width: 100%;
    height: auto;
  }
  .services-wrapper {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 320px) {
  .services {
    padding-left: 18px;
    padding-bottom: 0;
  }
  .services p {
    width: 282px;
  }
  .services__info {
    padding: 0;
  }
  .services__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin-top: 0;
  }
  .service-card {
    width: 280px;
    height: 264px;
    padding-bottom: 24px;
    transform: none;
  }
  .service-card:nth-child(1),
  .service-card:nth-child(2),
  .service-card:nth-child(3),
  .service-card:nth-child(4) {
    transform: none;
  }
}
.strategic {
  position: relative;
  height: calc(100% - 76px);
}
.strategic__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  margin-bottom: 0;
  gap: 196px;
  padding: 0;
}
@media (min-width: 1024px) {
  .strategic__container {
    margin-left: 54px;
  }
}
@media (min-width: 1600px) {
  .strategic__container {
    margin-left: 224px;
  }
}
@media (min-width: 2560px) {
  .strategic__container {
    margin-left: 707px;
  }
}
@media (max-width: 640px) {
  .strategic__container {
    flex-direction: column;
    position: absolute;
    z-index: 10;
  }
}
.strategic__container {
  position: relative;
}
.strategic__content {
  width: 490px;
  margin-left: 0;
}
@media (max-width: 640px) {
  .strategic__content {
    width: 558px;
  }
}
@media (max-width: 320px) {
  .strategic__content {
    width: 280px;
  }
}
.strategic__title {
  margin-top: 168px;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
  color: #fff;
  margin-bottom: 32px;
}
@media (max-width: 640px) {
  .strategic__title {
    margin-top: 56px;
  }
}
.strategic__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: #fff;
  margin-bottom: 83px;
  max-width: 362px;
}
.strategic__image {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(-100%);
  overflow: hidden;
}
.strategic__image__scroll {
  width: 100%;
  height: 100%;
}
@media (min-width: 2560px) {
  .strategic__image__scroll {
    width: 1167px;
  }
}

@media (max-width: 640px) {
  .strategic {
    height: auto;
  }
  .strategic__content {
    padding-bottom: 147px;
  }
  .strategic__container {
    position: static;
  }
  .strategic__image {
    position: static;
    transform: none;
    width: 100%;
    height: 390px;
  }
  .strategic__image__scroll {
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 30px;
  }
  .header {
    height: auto;
  }
}
.testimonials__info {
  padding-top: 148px;
}
.testimonials__title__section {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  vertical-align: middle;
  color: #253757;
  width: 264px;
  height: 126px;
}
.testimonials__cards {
  padding-top: 85px;
  padding-bottom: 148px;
  display: flex;
  gap: 30px;
}
@media (min-width: 320px) {
  .testimonials__cards {
    padding-top: 48px;
    padding-bottom: 120px;
  }
}
.testimonials__card {
  width: 280px;
  height: 456px;
  border-radius: 16px;
  background-color: #fff;
}
.testimonials__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (min-width: 640px) {
  .testimonials__card {
    width: 558px;
    height: 478px;
  }
}
@media (min-width: 1024px) {
  .testimonials__card {
    width: 292px;
    height: 456px;
  }
}
@media (min-width: 1600px) {
  .testimonials__card {
    width: 362px;
    height: 494px;
  }
}
.testimonials__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto 24px;
}
@media (min-width: 320px) {
  .testimonials__photo {
    width: 166px;
    height: 166px;
  }
}
@media (min-width: 640px) {
  .testimonials__photo {
    height: 250px;
    width: 250px;
  }
}
@media (min-width: 1024px) {
  .testimonials__photo {
    width: 196px;
    height: 196px;
  }
}
@media (min-width: 1600px) {
  .testimonials__photo {
    width: 250px;
    height: 250px;
  }
}
.testimonials__describe {
  font-size: 13px;
  font-weight: 600;
  color: #6c788b;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
}
.testimonials__name {
  display: flex;
  font-size: 13px;
  line-height: 150%;
  justify-content: center;
  font-weight: 600;
  color: #253757;
}
.testimonials__role {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 3px;
  color: #c0cdd7;
  margin-bottom: 32px;
}
.testimonials__lapki {
  display: block;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .testimonials__cards {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .testimonials__title__section {
    width: 280px;
    height: 48px;
  }
}
.vision {
  background-color: #fff;
  background-image: url("../images/Shapes.png");
  background-repeat: no-repeat;
  background-position: top 72px center;
  background-size: 1440px auto;
  padding-top: 72px;
  height: 888px;
}
.vision__info {
  margin-top: 199px;
  text-align: center;
  max-width: 754px;
  margin-left: auto;
  margin-right: auto;
}
.vision__title {
  font-size: 52px;
  font-weight: 600;
  color: #253757;
  text-align: center;
  margin: 0 auto;
}
.vision__text {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #6c788b;
  margin-top: 24px;
  margin-bottom: 64px;
}
.vision__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 56px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .vision {
    background-size: 1055px auto;
  }
}
@media (max-width: 320px) {
  .vision {
    background-image: none;
  }
  .vision__container {
    padding: 0;
  }
  .vision__info {
    width: 320px;
    height: 571px;
  }
}
body {
  background-color: #f3f6f9;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Poppins, sans-serif;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}/*# sourceMappingURL=main.css.map */